{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
        <div class="layui-card-header">添加盒子</div>
        <div class="layui-card" style="padding-top:10px;">
            <form class="layui-form layui-form-pane" lay-filter="agent">
                <div class="layui-form-item">
                    <label class="layui-form-label">盒子名称</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[title]" lay-verify="required" lay-reqText="请输入盒子名称" placeholder="{:lang('pleaseEnter')}盒子名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源链接</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[video_url]"  lay-reqText="请输入资源链接" placeholder="{:lang('pleaseEnter')}资源链接" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
layui.use(['form','upload','layedit'], function(){
    var form = layui.form,$= layui.jquery;
    form.on('submit(submit)', function (data) {
        loading =layer.load(1, {shade: [0.1,'#fff']});
        $.post("", data.field, function (res) {
            layer.close(loading);
            if (res.status===200){
                layer.msg('添加成功',{time: 1000, icon: 1},function(){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);//再执行关闭
                });
            } else {
                layer.msg(res.msg, {time: 1000, icon: 2});
            }
        });
    })
});
</script>