{include file="common/head"/}
<style>

    .layui-mb1{
        padding:0 12px;
    }
</style>
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">推广列表</li>
        </ul>
    </div>
    <div class="table-body">

        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="标题" id="search" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
            </form>
        </div>

        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-sm" lay-event="zb" title="直播链接">直播链接</a>
    <a class="layui-btn layui-btn-sm" lay-event="jf" title="积分链接">积分链接</a>
    <a class="layui-btn layui-btn-sm" lay-event="links" title="普通链接">普通链接</a>
    <a class="layui-btn layui-btn-sm" lay-event="edit" title="编辑">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del" title="删除">删除 </a>
</script>
<script type="text/html" id="statusTpl">
    {{# if(d.status==1){ }}
    <span class="green">启用</span>
    {{# }else{ }}
    <span class="gray">禁用</span>
    {{# } }}
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">layui-icon-addition
        <button lay-event="add" class="add layui-btn layui-bg-blue layui-btn-small"><i class="layui-icon layui-icon-addition"></i>添加</button>
        <button lay-event="setting" class="setting layui-btn layui-bg-green layui-btn-small"><i class="layui-icon icon icon-setting"></i>推广设置</button>
        <button class="layui-btn layui-btn-danger layui-mb1" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>

<script>
    var dateVal='',statusVal='',searchVal='',onlineVal='';
    layui.use(['table','element','form','laydate','upload'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form,element = layui.element;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:url("hezi/index")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {fixed: 'left',type: 'checkbox',title:'ID',align:'center',width:50},
                {field: 'id',title: 'ID',align:'center',width:60},
                {field: 'title',title: '名称',width:150},
                {field: 'video_url', align: 'center',title: '资源链接',width:150,templet:function(d){
                        if(d.video_url){
                            return d.video_url;
                        }else{
                            return ' - '
                        }
                }},
                {field: 'user', align: 'center',title: '所属代理',width:120,templet:function(d){
                        if(d.user){
                            return d.user.username+'【'+d.user.id+'】';
                        }else{
                            return ' - '
                        }
                }},
                {field:'status',width:80,title: '状态',align:'center',templet:'#statusTpl'},
                {field: 'ctime_text', align: 'center',title: '发布时间',width:150},
                {fixed: 'right',title: '功能操作',align: 'center',toolbar:'#action',width:570}
            ]]
        });

        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, onlineVal=$('#online').val(),searchVal=$('#search').val();
                var params={};

                if(onlineVal){
                    params['online']=onlineVal
                }
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:JSON.stringify(params)
                    }
                });
            }
        });

        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),onlineVal=$('#online').val(),searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //下拉选项
        form.on('select(online)', function(data){
            dateVal=$('#ondate').val(),onlineVal=data.value,searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            dateVal=$('#ondate').val(),onlineVal=$('#online').val(),searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });


        //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                    $.post("{:url('hezi/del')}",{ids:data.id},function(res){
                        if(res.status===200){
                            layer.msg('删除成功',{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title:'编辑盒子',
                    type:2,
                    maxmin: true,
                    content:'{:url("hezi/edit")}?ids='+data.id,
                    area:['80%','60%'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }else if(obj.event === 'links'){
                var loading = layer.load(1,{shade: [0.1, '#fff']});
                $.post("{:url('hezi/shortUrl')}?id=" + data.id + "&type=1",{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.open({
                            title:'普通推广',
                            content:"<img src='" + res.img + "' width='300px' height='300px'/> <div style='width: 100%;display: flex;flex-direction: column;margin-top: 10px'><span style='color: red;font-size: 14px;'>您的推广链接：</span><span>" +  res.data +"</span></div>",
                            btn: ['复制','取消'],yes:function(index,val){
                                $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                                var clipboard = new ClipboardJS('.layui-layer-btn0');
                                clipboard.on('success', function(e) {
                                    layer.msg('复制成功',{time:1000,icon:1});
                                    layer.close(index);
                                });
                                clipboard.on('error', function(e) {
                                    layer.msg('复制失败',{time:1000,icon:2});
                                    layer.close(index);
                                });
                            },
                            area:['350px','490px'],
                        });
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }else if(obj.event === 'jf'){
                var loading = layer.load(1,{shade: [0.1, '#fff']});

                $.post("{:url('hezi/shortUrl')}?id=" + data.id + "&type=2",{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.open({
                            title:'积分推广',
                            content:"<img src='" + res.img + "' width='300px' height='300px'/> <div style='width: 100%;display: flex;flex-direction: column;margin-top: 10px'><span style='color: red;font-size: 14px;'>您的推广链接：</span><span>" +  res.data +"</span></div>",
                            btn: ['复制','取消'],yes:function(index,val){
                                $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                                var clipboard = new ClipboardJS('.layui-layer-btn0');
                                clipboard.on('success', function(e) {
                                    layer.msg('复制成功',{time:1000,icon:1});
                                    layer.close(index);
                                });
                                clipboard.on('error', function(e) {
                                    layer.msg('复制失败',{time:1000,icon:2});
                                    layer.close(index);
                                });
                            },
                            area:['350px','490px'],
                        });
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }else if(obj.event === 'zb'){
                var loading = layer.load(1,{shade: [0.1, '#fff']});

                $.post("{:url('hezi/shortUrl')}?id=" + data.id + "&type=3",{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.open({
                            title:'直播推广',
                            content:"<img src='" + res.img + "' width='300px' height='300px'/> <div style='width: 100%;display: flex;flex-direction: column;margin-top: 10px'><span style='color: red;font-size: 14px;'>您的推广链接：</span><span>" +  res.data +"</span></div>",
                            btn: ['复制','取消'],yes:function(index,val){
                                $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                                var clipboard = new ClipboardJS('.layui-layer-btn0');
                                clipboard.on('success', function(e) {
                                    layer.msg('复制成功',{time:1000,icon:1});
                                    layer.close(index);
                                });
                                clipboard.on('error', function(e) {
                                    layer.msg('复制失败',{time:1000,icon:2});
                                    layer.close(index);
                                });
                            },
                            area:['350px','490px'],
                        });
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }
        });

        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });
            switch(obj.event){
                case 'add':
                    layer.open({
                        title:'添加',
                        type:2,
                        maxmin: true,
                        content:'{:url("hezi/add")}',
                        area:['80%','60%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                case 'setting':
                    layer.open({
                        title:'推广设置',
                        type:2,
                        maxmin: true,
                        content:'{:url("hezi/setting")}',
                        area:['70%','90%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                case 'delAll':
                    if(ids.length===0){
                        return false;
                    }
                    layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                        $.post("{:url('hezi/del')}",{ids:ids}, function (res) {

                            if (res.status === 200){
                                layer.msg('删除成功', {time: 1000, icon: 1});
                                tableIn.reload();
                            } else {
                                layer.msg(res.msg, {time: 1000, icon: 2});
                            }
                        });
                        layer.close(index);
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });

    });


</script>