{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
        <div class="layui-card-header">编辑视频</div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane" lay-filter="agent">
                <input type="hidden" name="row[id]" value="{$row['id']}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">视频名称</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[title]" value="{$row['title']}" lay-verify="required" lay-reqText="请输入视频名称" placeholder="{:lang('pleaseEnter')}视频名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">视频类目</label>
                    <div class="layui-input-inline from-inline-7">
                        <select name="row[sortid]" lay-filter="tags" lay-search>
                            {volist name="sort" id="v"}
                                <option value="{$v.id}" {eq name="$row['sortid']" value="$v.id"}selected{/eq}>{$v.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">视频封面</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" lay-verify="required" lay-reqText="请输入视频封面" class="layui-input" placeholder="{:lang('pleaseEnter')}封面链接" name="row[img]" id="img" value="{$row['img']}">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="onUpload">上传封面</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" width="86" height="86" src="{$row['img']}" id="Image">
                                <p id="preview"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">视频链接</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[video_url]" value="{$row['video_url']}" lay-verify="required" lay-reqText="请输入视频链接" placeholder="{:lang('pleaseEnter')}视频名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">视频时间</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[times]" value="{$row['times']}" lay-verify="required" lay-reqText="请输入视频时间" placeholder="{:lang('pleaseEnter')}视频时间" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                        <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
layui.use(['form','upload','layedit'], function(){
    var form = layui.form,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;
    //建立编辑器
    layedit.build('content',{
        height: 180, //设置编辑器高度
        uploadImage: {
            url: '{:url("UpFiles/editUpload")}',
            type: 'post'
        }
    });
    //图片上传
    var uploadInst = upload.render({
        elem: '#onUpload',
        url: '{:url("UpFiles/upload")}',
        done: function(res){
            if(res.status===200){
                $('#img').val(res.url);
                $('#Image').attr('src',res.url);
            }else{
                //如果上传失败
                return layer.msg('上传失败');
            }
        },
        error: function(){
            //演示失败状态，并实现重传
            var preview = $('#preview');
            preview.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini onReload">重试</a>');
            preview.find('.onReload').on('click', function(){
                uploadInst.upload();
            });
        }
    });
    form.on('submit(submit)', function (data) {
        loading =layer.load(1, {shade: [0.1,'#fff']});
        $.post("", data.field, function (res) {
            layer.close(loading);
            if (res.status===200){
                layer.msg('编辑成功',{time: 1000, icon: 1},function(){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);//再执行关闭
                });
            } else {
                layer.msg(res.msg, {time: 1000, icon: 2});
            }
        });
    })
});
</script>