{include file="common/head"/}

<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">资源列表</li>
        </ul>
    </div>
    <div class="table-body">
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                   <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <select id="online" lay-filter="onstatus">
                        <option value="">全部资源</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="标题 / id" id="search" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
            </form>
        </div>
        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}

<script src="__STATIC__/common/js/xgplayer/index.js"></script>
<script src="__STATIC__/common/js/xgplayer/index.hls.js"></script>
<script type="text/html" id="action">

    <a class="layui-btn layui-btn-sm" lay-event="edit">{:lang('edit')}</a>

    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">{:lang('del')}</a>
</script>

<script type="text/html" id="status">
    {{# if(d.id!==1){ }}
    <input type="checkbox" name="status" id="{{d.id}}" lay-filter="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" {{ d.status==1 ? 'checked':'' }}>
    {{# } }}

</script>

<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-blue" lay-event="add"><i class="layui-icon layui-icon-addition"></i> 添加</button>
        <button class="layui-btn layui-btn-blue" lay-event="addAll"><i class="layui-icon layui-icon-addition"></i> 批量添加</button>
        <button class="layui-btn layui-btn-blue" lay-event="editAll"><i class="layui-icon layui-icon-edit"></i> 一键替换网址</button>
        <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i> 批量删除</button>
        <button class="layui-btn layui-btn-danger" lay-event="clearAll"><i class="layui-icon layui-icon-delete"></i> 全部清空</button>

    </div>
</script>

<script>
    var dateVal='',statusVal='',searchVal='',onlineVal='';
    layui.use(['table','element','form','laydate'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form,element = layui.element;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:url("index")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {fixed: 'left',type: 'checkbox',title:'ID',align:'center',width:50},
                {fixed: 'left',field: 'id',title:'ID',align:'center',width:60},
                {field: 'title',title: '资源名称',width:380},
                {field: 'video_url',title: '视频',align:'center',width:80,templet:function(d){
                    return '<div onClick="play(\''+d.video_url+'\',\''+d.img+'\')" ><img  src="'+d.img+'" width="32" height="32"/></div>';
                }},
                {field: 'sorts',title:'排序',align:'center',width:100,edit:'text'},
                {field: 'sort.name',title:'类目',align:'center',width:100},
                {field:'status',width:100,title: '资源状态',align:'center',templet:'#status'},
                {field: 'ctime_text', align: 'center',title: '发布时间',width:150},
                {field: 'utime_text', align: 'center',title: '修改时间',width:150},
                {fixed: 'right',title: '功能操作',align: 'center',toolbar:'#action',width:180}
            ]]
        });
        table.on('edit(list)',function(obj){
            var id = obj.data.id,value = obj.value;

            $.post("{:url('setSort')}",{ids:id,sorts:value},function (res){
                if(res.status === 200){
                    layer.msg('操作成功', {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
               
        });
        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, onlineVal=$('#online').val(),searchVal=$('#search').val();
                var params={};

                if(onlineVal){
                    params['status']=onlineVal
                }
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:JSON.stringify(params)
                    }
                });
            }
        });
        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),onlineVal=data.value,searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['status']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //启用禁用
        form.on('switch(status)',function(data){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            console.log(data.elem.checked);
            var status = data.elem.checked === true ? 1 : 0;
            console.log(status);
            // var status = data.elem.value === 1 ? 0 : 1;
            $.post('{:url("setUp")}',{'ids':data.elem.id,'params':'{"status":"'+status+'"}'},function(res){
                layer.close(loading);
                if(res.status ===200){
                    data.elem['value']=status;
                    return false;
                }else{
                    layer.msg('操作失败！', {time: 1000, icon: 2});
                    return false;
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            dateVal=$('#ondate').val(),onlineVal=$('#online').val(),searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['status']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });

        //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                    $.post("{:url('del')}",{ids:data.id},function(res){
                        if(res.status===200){
                            layer.msg('删除成功',{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title:'编辑资源',
                    type:2,
                    maxmin: true,
                    content:'{:url("edit")}?ids='+data.id,
                    area:['95%','95%'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }
        });
        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });

            switch(obj.event){
                // todo 添加
                case 'add':
                    layer.open({
                        title:'添加资源',
                        type:2,
                        maxmin: true,
                        content:'{:url("add")}',
                        area:['95%','95%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                // todo 批量添加
                case 'addAll':
                    layer.open({
                        title:'批量添加资源',
                        type:2,
                        maxmin: true,
                        content:'{:url("batchadd")}',
                        area:['95%','85%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                // todo 批量替换网址
                case 'editAll':
                    layer.open({
                        title:'批量修改网址',
                        type:2,
                        maxmin: true,
                        content:'{:url("alledit")}',
                        area:['95%','85%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                // todo 批量删除
                case 'delAll':
                    if(ids.length===0){
                        return layer.msg('请选择需要删除的行', {time: 1000, icon: 2});
                    }
                    layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                        $.post("{:url('del')}",{ids:ids}, function (res) {
                            if (res.status === 200){
                                layer.msg('删除成功', {time: 1000, icon: 1});
                                tableIn.reload();
                            } else {
                                layer.msg(res.msg, {time: 1000, icon: 2});
                            }
                        });
                        layer.close(index);
                    });
                    break;
                // todo 全部删除
                case 'clearAll':
                    layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                        $.post("{:url('clearAll')}",{}, function (res) {
                            if (res.status === 200){
                                layer.msg('清空成功', {time: 1000, icon: 1});
                                tableIn.reload();
                            } else {
                                layer.msg(res.msg, {time: 1000, icon: 2});
                            }
                        });
                        layer.close(index);
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });

    })
    function play(url,img) {
        layer.alert('<div id="mse"  style="width:580px;height:360px;"></div>\
                ', {
            skin: 'layui-layer-molv' ,
            area: ['620px', '510px']
            ,closeBtn: 0,btn:['关闭'],
            title:"视频预览",
        });
        var player=new HlsJsPlayer({
            "id": "mse",
            "url": url,
            "poster": img,
            "playsinline": true,
            "x5-video-player-fullscreen": "false",
            "x5-video-orientation": "portraint",
            'autoplay ':true,
            "fluid": true,
            "videoInit": false,
            "playbackRate": [0.5, 0.75, 1, 1.5, 2],
            "closeVideoClick":true,
            "pip": true,
            "closeVideoTouch":true,
            "autoplay": false
        });

        $('.layui-layer').css('top','10%');
    }

</script>