{include file="common/head"/}
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">城市地区列表</li>
        </ul>
    </div>
    <div class="table-body">
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                   <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <select id="onstatus" lay-filter="onstatus">
                        <option value="">全部状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="名称 / 标签 / id" id="search" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
            </form>
        </div>
        <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}
<script type="text/html" id="action">
    <a href="{:url('edit')}?ids={{d.id}}" class="layui-btn layui-btn-sm">{:lang('edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">{:lang('del')}</a>
</script>

<script type="text/html" id="status">
    <input type="checkbox" name="status" id="{{d.id}}" lay-filter="status" value="{{d.status}}" lay-skin="switch" lay-text="开启|禁用" {{ d.status==1 ? 'checked':'' }}>
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="openAll"><i class="icon icon-qiyong"></i> 批量启用</button>
        <button class="layui-btn" lay-event="closeAll"><i class="icon icon-jinyong"></i> 批量禁用</button>
        <button class="layui-btn" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>
<script>
var dateVal='',statusVal='',searchVal='';
layui.config({
    base: '__STATIC__/layuiadmin/mods/',
    version: '1.0'
});
layui.use(['table','element','form','laydate','treeTable'],function(){
    var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form;
    var tableIn = table.render({
        id: 'list',
        elem: '#list',
        url: '{:url("index")}',
        where:{
            filter:'{"pid":0}'
        },
        toolbar:'#table-toolbar',
        method:'get',
        page:true,
        response:{
            statusName:'status',
            statusCode:200,
            msgName:'msg',
            countName:'total',
            dataName:'data',
        },
        cols: [[
            {field: 'id',title:'ID',align:'center',width:80},
            {field: 'name',title: '城市名称',width:260,templet:function (d){
                return '<a lay-event="nexts">'+d.name+'</a>';
            }},
            {field: 'price',title:'价格',align:'center',width:150,edit:true},
            {field: 'nums',title:'数量',align: 'center',width:180},
            {field: 'code',title: '行政编码',align:'center',width:180},
            {field: 'level',title: '层级',align:'center',width:180,templet:function (d) {
                  if(d.level===0){
                      return '省级';
                  }else if(d.level===1){
                      return '市级';
                  }else{
                      return '县级';
                  }
             }},
            {align: 'center',toolbar:'#action'}
        ]]
    });

    //编辑列表
    table.on('edit(list)', function(obj){
        var loading = layer.load(1, {shade: [0.1, '#fff']});
        $.post('{:url("setUp")}',{'ids':obj.data.id,'params':'{"price":"'+obj.value+'"}'},function(res){
            layer.close(loading);
            if(res.status ===200){
                layer.msg('设置成功', {time: 1000, icon: 1});
                return false;
            }else{
                layer.msg('操作失败！', {time: 1000, icon: 2});
                return false;
            }
        });
    });
    //行列表操作项事件
    table.on('tool(list)', function(obj) {
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('你确定要删除该参数吗？', {icon: 3}, function (index) {
                $.post("{:url('del')}",{ids:data.id},function(res){
                    if(res.status===200){
                        layer.msg('删除成功',{time:1000,icon:1});
                        tableIn.reload();
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
                layer.close(index);
            });
        }else if(obj.event === 'nexts'){
            tableIn.reload({
                where:{
                    filter:'{"pid":"'+data.code+'"}'
                }
            });
        }
    });
    laydate.render({
        elem: '#ondate',
        range: '-',
        done:function(value, date, endDate){
            dateVal=value, statusVal=$('#onstatus').val(),searchVal=$('#search').val();
            var params={};
            if(statusVal){
                params['status']=statusVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        }
    });
    //下拉选项
    form.on('select(onstatus)', function(data){
        dateVal=$('#ondate').val(),statusVal=data.value,searchVal=$('#search').val();
        var params={};
        if(statusVal){
            params['status']=statusVal
        }
        table.reload('list',{
            where:{
                date:dateVal,
                search:searchVal,
                filter:JSON.stringify(params)
            }
        });
    });
    //搜索关键字
    $('#onsearch').on('click',function(e){
        dateVal=$('#ondate').val(),statusVal=$('#onstatus').val(),searchVal=$('#search').val();
        var params={};
        if(statusVal){
            params['status']=statusVal
        }
        table.reload('list',{
            where:{
                date:dateVal,
                search:searchVal,
                filter:JSON.stringify(params)
            }
        });
    });
    //启用禁用
    form.on('switch(status)',function(data){
        var loading = layer.load(1, {shade: [0.1, '#fff']});
        var status=data.elem.value===1 ? 0 : 1;
        $.post('{:url("setUp")}',{'ids':data.elem.id,'params':'{"status":"'+status+'"}'},function(res){
            layer.close(loading);
            if(res.status ===200){
                data.elem['value']=status;
                return false;
            }else{
                layer.msg('操作失败！', {time: 1000, icon: 2});
                return false;
            }
        });
    });

    //头工具栏事件批量操作---删除
    table.on('toolbar(list)', function(obj){
        var checkStatus = table.checkStatus('list');
        var ids = [];
        $(checkStatus.data).each(function (i, o){
            ids.push(o.id);
        });
        if(ids.length===0){
           return false;
        }
        switch(obj.event){
            case 'openAll':
                var loading = layer.load(1,{shade: [0.1, '#fff']});
                $.post("{:url('setUp')}",{ids:ids,params:'{"status":1}'},function (res){
                    layer.close(loading);
                    if(res.status === 200){
                        layer.msg('操作成功', {time: 1000, icon: 1});
                        tableIn.reload();
                    }else{
                        layer.msg(res.msg, {time: 1000, icon: 2});
                    }
                });
                break;
            case 'closeAll':
                var loading = layer.load(1,{shade: [0.1, '#fff']});
                $.post("{:url('setUp')}",{ids:ids,params:'{"status":0}'},function (res){
                    layer.close(loading);
                    if (res.status === 200){
                        layer.msg('操作成功', {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(res.msg, {time: 1000, icon: 2});
                    }
                });
                break;
            case 'delAll':
                var loading = layer.load(1,{shade: [0.1, '#fff']});
                $.post("{:url('del')}",{ids:ids}, function (res) {
                    layer.close(loading);
                    if (res.status === 200){
                        layer.msg(res.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(res.msg, {time: 1000, icon: 2});
                    }
                });
                break;
        }
    });
})
</script>