{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
        <div class="layui-card-header">添加权限</div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">父级</label>
                    <div class="layui-input-inline from-inline-3">
                        <select name="pid" lay-verify="required" lay-filter="pid" >
                            <option value="0">默认顶级</option>
                            {volist name="rule_menu" id="vo"}
                                <option value="{$vo.id}">{$vo.lefthtml}{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限名称</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="text" name="title" lay-verify="required" placeholder="{:lang('pleaseEnter')}权限名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">控制器/方法</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="text" name="href" lay-verify="required" placeholder="{:lang('pleaseEnter')}控制器/方法" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标名称</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="text" name="icon" placeholder="{:lang('pleaseEnter')}图标名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单显示</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="radio" name="is_menu" checked value="1" title="显示">
                        <input type="radio" name="is_menu" value="0" title="隐藏">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="text" name="sort" value="50" placeholder="{:lang('pleaseEnter')}排序编号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="auth">立即提交</button>
                        <a href="{:url('adminrule')}" class="layui-btn layui-btn-primary">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,layer = layui.layer,$= layui.jquery;
        form.on('submit(auth)', function (data) {
            // 提交到方法 默认为本身
            $.post("{:url('ruleadd')}",data.field,function(res){
                if(res.status ==200){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        })
    });
</script>