{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
        <div class="layui-card-header">编辑资源</div>
        <div class="layui-card">
            <form class="layui-form layui-form-pane" lay-filter="agent">
                <input type="hidden" name="row[id]" value="{$row['id']}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源名称</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[title]" value="{$row['title']}" lay-verify="required" lay-reqText="请输入资源名称" placeholder="{:lang('pleaseEnter')}资源名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">资源类目</label>
                    <div class="layui-input-inline from-inline-7">
                        <select name="row[sortid]" lay-filter="tags" lay-search>
                            {volist name="sort" id="v"}
                                <option value="{$v.id}" {eq name="$row['sortid']" value="$v.id"}selected{/eq}>{$v.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源封面</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" lay-verify="required" lay-reqText="请输入资源封面" class="layui-input" placeholder="{:lang('pleaseEnter')}封面链接" name="row[img]" id="thumb" value="{$row['img']}">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="onUpload">上传封面</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" width="86" height="86" src="{$row['img']}" id="Image">
                                <p id="preview"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单片金额</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="number" name="row[money]" value="{$row['money']}" lay-verify="required" lay-reqText="请输入单片金额" placeholder="{:lang('pleaseEnter')}单片金额" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源链接</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[video_url]" value="{$row['video_url']}" lay-verify="required" lay-reqText="请输入资源链接" placeholder="{:lang('pleaseEnter')}资源名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">过期时间</label>
                    <div class="layui-input-inline from-inline-7">
                        <input type="text" name="row[otime]" value="{$row['otime_text']}" id="date" lay-verify="datetime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
layui.use(['form','upload','layedit','laydate'], function(){
    var form = layui.form,$= layui.jquery,upload = layui.upload,laydate = layui.laydate;
    //日期
    laydate.render({
        type:'datetime',
        elem: '#date'
    });

    //图片上传
    var uploadInst = upload.render({
        elem: '#onUpload',
        url: '{:url("UpFiles/upload")}',
        done: function(res){
            if(res.status===200){
                $('#thumb').val(res.url);
                $('#Image').attr('src',res.url);
            }else{
                //如果上传失败
                return layer.msg('上传失败');
            }
        },
        error: function(){
            //演示失败状态，并实现重传
            var preview = $('#preview');
            preview.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini onReload">重试</a>');
            preview.find('.onReload').on('click', function(){
                uploadInst.upload();
            });
        }
    });
    form.on('submit(submit)', function (data) {
        loading =layer.load(1, {shade: [0.1,'#fff']});
        $.post("", data.field, function (res) {
            layer.close(loading);
            if (res.status===200){
                layer.msg('编辑成功',{time: 1000, icon: 1},function(){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);//再执行关闭
                });
            } else {
                layer.msg(res.msg, {time: 1000, icon: 2});
            }
        });
    })
});
</script>