{include file="common/head"/}
<style>
    .layui-table-cell{height: inherit;}
    .layui-mb1{
        padding:0 12px;
    }
</style>
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">推广列表</li>
        </ul>
    </div>
    <div class="table-body">
        <!--<div class="search-tool">-->
            <!--<form class="layui-form">-->
                <!--<div class="layui-inline">-->
                <!--   <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">-->
                <!--    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                <!--    <select id="online" lay-filter="online">-->
                <!--        <option value="">全部推广</option>-->
                <!--        <option value="1">启用</option>-->
                <!--        <option value="0">禁用</option>-->
                <!--    </select>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                <!--    <input type="text" class="layui-input" placeholder="标题 / id" id="search" style="width:200px;" />-->
                <!--    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>-->
                <!--</div>-->
            <!--</form>-->
            <!--<div class="func-btn" id="func-btn" style="margin-top:-5px">-->
                <!--<a href="javascript:;" class="jfspread layui-btn layui-bg-blue layui-btn-small">-->
                <!--    <i class="layui-icon layui-icon-link"></i>-->
                <!--   积分推广链接-->
                <!--</a>-->
                <!--<a href="javascript:;" class="spread layui-btn layui-bg-blue layui-btn-small">-->
                <!--    <i class="layui-icon layui-icon-link"></i>-->
                <!--    推广链接-->
                <!--</a>-->
                <!--<a href="javascript:;" class="qrcode layui-btn layui-bg-blue layui-btn-small">-->
                <!--    <i class="layui-icon layui-icon-component"></i>-->
                <!--    二维码推广-->
                <!--</a>-->
                <!--{if ($auth->group_id==1)}-->
                <!--<a href="javascript:;" class="template layui-btn layui-bg-blue layui-btn-small">-->
                <!--    <i class="layui-icon layui-icon-theme"></i>-->
                <!--    模板切换-->
                <!--</a>-->
                <!--{/if}-->
                <!--<a href="javascript:;" class="add layui-btn layui-bg-blue layui-btn-small">-->
                <!--    <i class="layui-icon layui-icon-add"></i>-->
                <!--    添加盒子-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto;font-size:18px">群二维码:</label>
                    <div class="layui-input-inline">
                        <input style="width:350px" type="text" lay-verify="required" lay-reqText="请输入群二维码地址" class="layui-input" placeholder="请输入群二维码地址" value="{$user.vipurl}" id="vipurl">
                    </div>
                    <button type="button" id="onUpload" class="layui-btn" style="margin-left: -3px;height: 38px;">上传</button>
                   
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto;font-size:18px">直播有效时间:</label>
                    <div class="layui-input-inline">
                        <input type="number" lay-verify="required" id="zb" lay-reqText="请输入直播有效时间" class="layui-input" placeholder="请输入直播时间" value="{$user.zb}">
                    </div>
                   
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto;font-size:18px">积分观看价格:</label>
                    <div class="layui-input-inline">
                        <input type="number" lay-verify="required" lay-reqText="请输入积分观看价格" class="layui-input" placeholder="请输入积分观看价格" value="{$user.jf}" id="jf">
                    </div>
                    <button type="button" class="layui-btn" id="set" style="margin-left: -3px;height: 38px;">确定</button>
                   
                </div>
               
            </form>
        </div>
        <hr>
        <div class="search-tool">
            <form class="layui-form">
                
                <div class="layui-inline">
                    <span class="layui-form-label" style="font-size:18px;width: auto;">单片:</span>
                    <div class="layui-input-inline" style="width:90px;">
                        <select id="editAll" lay-filter="editAll">
                            <option value="1" {if condition ="($user.is_dp eq 1)"}selected{/if}>开启</option>
                            <option value="0" {if condition ="($user.is_dp eq 0)"}selected{/if}>关闭</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:100px;left: -5px;">
                        <input type="text" class="layui-input" placeholder="金额" value="{$user.money}" id="editAllMoney"/>
                    </div>
                    <div class="layui-inline" style="left: -10px;">
                        <div class="layui-btn layui-mb1" id="subAll" style="height: 38px;">确定</div>
                    </div>
                </div>
                
                <div class="layui-inline">
                    <span class="layui-form-label" style="font-size:18px;width: auto;">包天:</span>
                    <div class="layui-input-inline" style="width:90px;">
                        <select id="dayAll" lay-filter="dayAll">
                            <option value="1" {if condition ="($user.is_day eq 1)"}selected{/if}>开启</option>
                            <option value="0" {if condition ="($user.is_day eq 0)"}selected{/if}>关闭</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:100px;left: -5px;">
                        <input type="text" class="layui-input" placeholder="金额"  value="{$user.money1}" id="editDayAllMoney"/>
                    </div>
                    <div class="layui-inline" style="left: -10px;">
                        <div class="layui-btn layui-mb1" id="subDayAll" style="height: 38px;">确定</div>
                    </div>
                </div>
                
                <div class="layui-inline">
                    <span class="layui-form-label" style="font-size:18px;width: auto;">包周:</span>
                    <div class="layui-input-inline" style="width:90px;">
                        <select id="weekAll" lay-filter="weekAll">
                            <option value="1" {if condition ="($user.is_week eq 1)"}selected{/if}>开启</option>
                            <option value="0" {if condition ="($user.is_week eq 0)"}selected{/if}>关闭</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:100px;left: -5px;">
                        <input type="text" class="layui-input" placeholder="金额" value="{$user.money2}" id="editWeekAllMoney"/>
                    </div>
                    <div class="layui-inline" style="left: -10px;">
                        <div class="layui-btn layui-mb1" id="subWeekAll" style="height: 38px;">确定</div>
                    </div>
                </div>
                
                <div class="layui-inline">
                    <span class="layui-form-label" style="font-size:18px;width: auto;">包月:</span>
                    <div class="layui-input-inline" style="width:90px;">
                        <select id="monthAll" lay-filter="monthAll">
                            <option value="1" {if condition ="($user.is_month eq 1)"}selected{/if}>开启</option>
                            <option value="0" {if condition ="($user.is_month eq 0)"}selected{/if}>关闭</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:100px;left: -5px;">
                        <input type="text" class="layui-input" placeholder="金额" value="{$user.money3}" id="editMonthAllMoney"/>
                    </div>
                    <div class="layui-inline" style="left: -10px;">
                        <div class="layui-btn layui-mb1" id="subMonthAll" style="height: 38px;">确定</div>
                    </div>
                </div>
                
            </form>
        </div>
        
        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-sm" lay-event="zhibo" title="直播链接">
        <i class="layui-icon layui-icon-component"></i>直播链接
    </a>
    <a class="layui-btn layui-btn-sm" lay-event="jfspread" title="积分链接">
        <i class="layui-icon layui-icon-component"></i>积分链接
    </a>
    <a class="layui-btn layui-btn-sm" lay-event="qrcode" title="二维码">
        <i class="layui-icon layui-icon-component"></i>二维码
    </a>
    <a class="layui-btn layui-btn-sm" lay-event="links" title="普通链接">
        <i class="layui-icon layui-icon-link"></i>普通链接
    </a>
    <a class="layui-btn layui-btn-sm" lay-event="edit" title="{:lang('edit')}">
        <i class="layui-icon layui-icon-edit"></i>{:lang('edit')}
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del" title="{:lang('del')}">
        <i class="layui-icon layui-icon-delete"></i>{:lang('del')}
    </a>
</script>
<script type="text/html" id="statusTpl">
    {{# if(d.status==1){ }}
        <span class="green">启用</span>
    {{# }else{ }}
        <span class="gray">禁用</span>
    {{# } }}
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-mb1" lay-event="openAll"><i class="icon icon-qiyong"></i> 批量启用</button>
        <button class="layui-btn layui-mb1" lay-event="closeAll"><i class="icon icon-jinyong"></i> 批量禁用</button>
        <button class="layui-btn layui-btn-danger layui-mb1" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
        <button lay-event="add" class="add layui-btn layui-bg-blue layui-btn-small">
                    <i class="layui-icon layui-icon-add"></i>
                    添加盒子
                </button>

    </div>
</script>

<script>
    var dateVal='',statusVal='',searchVal='',onlineVal='';
    layui.use(['table','element','form','laydate','upload'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form,element = layui.element;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:url("hezi/index")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {type: 'checkbox',title:'ID',align:'center',width:50},
                {field: 'id',title: 'ID',align:'center',width:60},
                {field: 'title',title: '名称',width:240},
                {field: 'video_url', align: 'center',title: '资源链接',width:280},
                {field: 'user', align: 'center',title: '所属代理',width:120,templet:function(d){
                    if(d.user){
                        return d.user.username+'【'+d.user.id+'】';
                    }else{
                        return ' - '
                    }
                 }},
                {field:'status',width:80,title: '状态',align:'center',templet:'#statusTpl'},
                {field: 'ctime_text', align: 'center',title: '发布时间',width:150},
                {align: 'center',toolbar:'#action',width:570}
            ]]
        });
        var upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#onUpload', //绑定元素
            url: '{:url("UpFiles/upload")}',
            done: function(res){
                if(res.status===200){
                    $('#vipurl').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            },
            error: function(){
               
            }
        });
        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, onlineVal=$('#online').val(),searchVal=$('#search').val();
                var params={};

                if(onlineVal){
                    params['online']=onlineVal
                }
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:JSON.stringify(params)
                    }
                });
            }
        });
       
        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),onlineVal=$('#online').val(),searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //下拉选项
        form.on('select(online)', function(data){
            dateVal=$('#ondate').val(),onlineVal=data.value,searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            dateVal=$('#ondate').val(),onlineVal=$('#online').val(),searchVal=$('#search').val();
            var params={};
            if(onlineVal){
                params['online']=onlineVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //获取积分推广链接
        $('#func-btn .jfspread').on('click',function () {
            var loading = layer.load(1,{shade: [0.1, '#fff']});
            $.post("{:url('shortJfUrl')}",{},function(res){
                layer.close(loading);
                if(res.status===200){
                    layer.prompt({title:'积分推广链接',value:res.data,btn: ['复制','取消'],yes:function(index,val){
                        $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                        var clipboard = new ClipboardJS('.layui-layer-btn0');
                        clipboard.on('success', function(e) {
                            layer.msg('复制成功',{time:1000,icon:1});
                            layer.close(index);
                        });
                        clipboard.on('error', function(e) {
                            layer.msg('复制失败',{time:1000,icon:2});
                            layer.close(index);
                        });
                    }});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        });
        //获取推广链接
        $('#func-btn .spread').on('click',function () {
            var loading = layer.load(1,{shade: [0.1, '#fff']});
            $.post("{:url('shortUrl')}",{},function(res){
                layer.close(loading);
                if(res.status===200){
                    layer.prompt({title:'推广链接',value:res.data,btn: ['复制','取消'],yes:function(index,val){
                        $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                        var clipboard = new ClipboardJS('.layui-layer-btn0');
                        clipboard.on('success', function(e) {
                            layer.msg('复制成功',{time:1000,icon:1});
                            layer.close(index);
                        });
                        clipboard.on('error', function(e) {
                            layer.msg('复制失败',{time:1000,icon:2});
                            layer.close(index);
                        });
                    }});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        });
        //获取二维码推广
        $('#func-btn .qrcode').on('click',function () {
            layer.open({
                title:'推广二维码',
                content:"<img src='{:url(\'hezi/qrcodeUrl\')}' width='300px' height='300px'/>",
                area:['350px','440px'],
            });
        });
        //模板切换
        $('#func-btn .template').on('click',function () {
            layer.open({
                title:'切换模板',
                type:2,
                maxmin: true,
                content:'{:url("changeTemp")}',
                area:['90%','500px'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
       
       //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                    $.post("{:url('hezi/del')}",{ids:data.id},function(res){
                        if(res.status===200){
                            layer.msg('删除成功',{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title:'编辑盒子',
                    type:2,
                    maxmin: true,
                    content:'{:url("hezi/edit")}?ids='+data.id,
                    area:['80%','60%'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }else if(obj.event === 'qrcode'){
                layer.open({
                    title:'推广二维码',
                    content:"<img src='{:url(\'hezi/qrcodeUrl\')}?ids="+data.id+"' width='300px' height='300px'/>",
                    area:['350px','440px'],
                });
            }else if(obj.event === 'links'){
                var loading = layer.load(1,{shade: [0.1, '#fff']});
                $.post("{:url('hezi/shortUrl')}?id="+data.id,{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.prompt({title:'盒子链接',value:res.data,btn: ['复制','取消'],yes:function(index,val){
                            $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                            var clipboard = new ClipboardJS('.layui-layer-btn0');
                            clipboard.on('success', function(e) {
                                layer.msg('复制成功',{time:1000,icon:1});
                                layer.close(index);
                            });
                            clipboard.on('error', function(e) {
                                layer.msg('复制失败',{time:1000,icon:2});
                                layer.close(index);
                            });
                        }});
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }else if(obj.event === 'jfspread'){
                 var loading = layer.load(1,{shade: [0.1, '#fff']});
            
                $.post("{:url('shortJfUrl')}?id="+data.id,{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.prompt({title:'积分推广链接',value:res.data,btn: ['复制','取消'],yes:function(index,val){
                            $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                            var clipboard = new ClipboardJS('.layui-layer-btn0');
                            clipboard.on('success', function(e) {
                                layer.msg('复制成功',{time:1000,icon:1});
                                layer.close(index);
                            });
                            clipboard.on('error', function(e) {
                                layer.msg('复制失败',{time:1000,icon:2});
                                layer.close(index);
                            });
                        }});
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }else if(obj.event === 'zhibo'){
                 var loading = layer.load(1,{shade: [0.1, '#fff']});
            
                $.post("{:url('zhibo')}?id="+data.id,{},function(res){
                    layer.close(loading);
                    if(res.status===200){
                        layer.prompt({title:'直播链接',value:res.data,btn: ['复制','取消'],yes:function(index,val){
                            $(".layui-layer-btn0").attr("data-clipboard-text",res.data);
                            var clipboard = new ClipboardJS('.layui-layer-btn0');
                            clipboard.on('success', function(e) {
                                layer.msg('复制成功',{time:1000,icon:1});
                                layer.close(index);
                            });
                            clipboard.on('error', function(e) {
                                layer.msg('复制失败',{time:1000,icon:2});
                                layer.close(index);
                            });
                        }});
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });
            }
        });

        function rands(m,n){
            return Math.floor(Math.random()*(m - n) + n);
        }
        
        
        
        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });
            switch(obj.event){
                case 'add':
                    layer.open({
                        title:'添加盒子',
                        type:2,
                        maxmin: true,
                        content:'{:url("hezi/add")}',
                        area:['80%','60%'],
                        end:function(){
                            tableIn.reload();
                        }
                    });
                    break;
                case 'openAll':
                    if(ids.length===0){
                        return false;
                    }
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('hezi/setUp')}",{ids:ids,params:'{"status":1}'},function (res){
                        layer.close(loading);
                        if(res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'closeAll':
                    if(ids.length===0){
                        return false;
                    }
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('hezi/setUp')}",{ids:ids,params:'{"status":0}'},function (res){
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'delAll':
                    if(ids.length===0){
                        return false;
                    }
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('hezi/del')}",{ids:ids}, function (res) {
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg('删除成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                 
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });
        
        //快捷工具栏设置
        //当天选项
        form.on('select(editAll)', function(data){   
            var status = $('#editAll').val();
            $.post("{:url('statusEdit')}",{status:status,type:1},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        $('#subAll').on('click',function(){
            var money = $('#editAllMoney').val();
            if(money == ''){
                layer.msg('请输入单片金额', {time: 1000, icon: 2});
                return false;
            }
            $.post("{:url('batchEdit')}",{money:money,type:1},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        
        form.on('select(dayAll)', function(data){   
            var status = $('#dayAll').val();
            $.post("{:url('statusEdit')}",{status:status,type:3},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        $('#subDayAll').on('click',function(){
            var money = $('#editDayAllMoney').val();
            if(money == ''){
                layer.msg('请输入包天金额', {time: 1000, icon: 2});
                return false;
            }
            $.post("{:url('batchEdit')}",{money:money,type:3},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        
        form.on('select(weekAll)', function(data){   
            var status = $('#weekAll').val();
            $.post("{:url('statusEdit')}",{status:status,type:4},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        $('#subWeekAll').on('click',function(){
            var money = $('#editWeekAllMoney').val();
            if(money == ''){
                layer.msg('请输入包周金额', {time: 1000, icon: 2});
                return false;
            }
            $.post("{:url('batchEdit')}",{money:money,type:4},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        
        form.on('select(monthAll)', function(data){   
            var status = $('#monthAll').val();
            $.post("{:url('statusEdit')}",{status:status,type:5},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        $('#subMonthAll').on('click',function(){
            var money = $('#editMonthAllMoney').val();
            if(money == ''){
                layer.msg('请输入包月金额', {time: 1000, icon: 2});
                return false;
            }
            $.post("{:url('batchEdit')}",{money:money,type:5},function (res){
                if(res.status === 200){
                    layer.msg('修改成功', {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        });
        $("#set").on("click",function(){
            
            let vipurl = $("#vipurl").val(),
                zb=$("#zb").val(),
                jf=$("#jf").val();
            
           $.post("{:url('set')}",{vipurl:vipurl,zb:zb,jf:jf},function (res){
                if(res.status === 200){
                    layer.msg('保存成功', {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
            
            
            
        });
        
  });
   

</script>