{include file="common/head"/}
<script type="text/javascript">
    window.addEventListener('resize',function(){document.getElementById('mse').style.height=window.innerHeight+'px';});
</script>
<div id="mse"></div>
<script src="//cdn.jsdelivr.net/npm/xgplayer@2.9.6/browser/index.js" charset="utf-8"></script>
<script src="//cdn.jsdelivr.net/npm/xgplayer-mp4@1.1.8/browser/index.js" charset="utf-8"></script>
<script src="//cdn.jsdelivr.net/npm/xgplayer-flv/dist/index.min.js" charset="utf-8"></script>
<script src="//cdn.jsdelivr.net/npm/xgplayer-hls/dist/index.min.js" charset="utf-8"></script>
<script type="text/javascript">
    let player=new Player({
        id: 'mse',
        autoplay: true,
        volume: 0.3,
        url:'{$row["video_url"]}',
        //poster: "//s2.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/poster.jpg",
        playsinline: true,
        height: window.innerHeight,
        width: window.innerWidth,
        whitelist: ['']
    });
    player.emit('resourceReady', [{ name: '超清', url: '/video/mp4/xgplayer-demo-720p.mp4' }, { name: '高清', url: '/video/mp4/xgplayer-demo-480p.mp4' }, { name: '标清', url: '/video/mp4/xgplayer-demo-360p.mp4' }]);
</script>
{include file="common/foot"/}