<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/login.css" />
    <link rel="stylesheet" href="__STATIC__/common/css/font.css" />
</head>
<body class="login-bady">
    <div class="wraper" id="wraper">
        <canvas id="canvas"></canvas>
        <div class="login">
            <header>
                <h1>{:config('setting.web_name')}</h1>
            </header>
            <div class="login-bar">
                <form class="layui-form layui-form-pane" method="post">
                    
                    <div class="layui-form-item">
                        <label class="login-icon fs1">
                            <span class="icon icon-user"></span>
                        </label>
                        <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" value="" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="login-icon fs1">
                            <i class="icon icon-key"></i>
                        </label>
                        <input type="password"  name="password" lay-verify="required" placeholder="请输入密码" value="" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="login-icon fs1">
                            <i class="icon icon-key"></i>
                        </label>
                        <input type="text"  name="yqm" lay-verify="required" placeholder="请输入邀请码" value="" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="text" name="captcha" id="captcha" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                        <div class="captcha">
                            <img src="{:captcha_src()}" alt="captcha" lay-filter="captcha" id="yzimg"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button type="submit" class="layui-btn btn-submit" lay-submit lay-filter="reg">注册</button>
                    </div>
                    <div class="layui-form-item">
                        <button type="button" class="layui-btn btn-submit" id="login">已有账号,去登录</button>
                    </div>
                </form>
            </div>
            <footer>
                <p>{:config('setting.web_name')}</p>
            </footer>
        </div>
    </div>
<script src="__ADMIN__/js/rAF.js"></script>
<script src="__ADMIN__/js/login.js"></script>
<script type="text/javascript" src="__STATIC__/layuiadmin/layui/layui.js"></script>
<script>
    layui.use('form',function(){
        var form = layui.form,$ = layui.jquery;
        $('#yzimg').on('click',function () {
            $('.captcha img').attr('src','{:captcha_src()}?t='+Math.random());
        });
        //监听提交
        form.on('submit(reg)', function(data){
            loading =layer.load(1, {shade: [0.1,'#fff'] });//0.1透明度的白色背景
            $.post('{:url("reg/index")}',data.field,function(res){
                layer.close(loading);
                if(res.status === 200){
                    layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                        location.href = '{:url("login/index")}';
                    });
                }else{
                    $('#captcha').val('');
                    layer.msg(res.msg, {icon: 2, anim: 6, time: 1000});
                    $('.captcha img').attr('src','{:captcha_src()}?t='+Math.random());
                }
            });
            return false;
        });
        $('#login').on('click',function(){
            location.href = '/manage/login';
        });
    });
</script>
</body>
</html>