{include file="common/head"/}
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">代理列表</li>
        </ul>
    </div>
    <div class="table-body">
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                   <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <select id="onstatus" lay-filter="onstatus">
                        <option value="">全部状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
                <div class="layui-inline">
                    <span class="layui-form-label layui-font-18 layui-bg-red" style="width:auto;">代理余额:
                    {$balance}元</span>
                </div>
            </form>
            <div class="func-btn" id="func-btn">
                <a href="javascript:;" class="add layui-btn layui-bg-blue layui-btn-small">{:lang('add')}代理</a>
            </div>
        </div>
        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}
<script type="text/html" id="action">
    <a lay-event="edit" class="layui-btn layui-btn-sm">{:lang('edit')}</a>
    <a lay-event="pwd" class="layui-btn layui-btn-sm">修改密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" id="{{d.id}}" lay-filter="status" value="{{d.status}}" lay-skin="switch" lay-text="开启|禁用" {{ d.status==1 ? 'checked':'' }}>
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="openAll"><i class="icon icon-qiyong"></i> 批量启用</button>
        <button class="layui-btn" lay-event="closeAll"><i class="icon icon-jinyong"></i> 批量禁用</button>
        <button class="layui-btn" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>
<script>
    var dateVal='',statusVal='',searchVal='';
    layui.use(['table','element','form','laydate'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:url("index")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {type: 'checkbox',title:'ID',align:'center',width:50},
                {field: 'id',title:'ID',align:'center',width:80},
                {field: 'username',title: '用户名',width:120},
                {field: 'agents',align:'center',title: '所属上级',width:120,templet:function(d){
                    return d.agents.username+'【'+d.agents.id+'】';
                }},
                {field: 'balance',align:'center',title: '账户余额',width:130,sort:true},
                // {field: 'groups.title',align:'center',title: '用户组',width:120,templet:function(d){
                //     return '<span class="blue_block">'+d.groups.title+'</span>';
                // }},
                // {field: 'cash_pwd',align:'center',title: '提现密码',width:120,templet:function(d){
                //     if(d.cash_pwd){
                //         return d.cash_pwd;
                //     }else{
                //         return '未设置';
                //     }
                // }},
                {field: 'cash_fee',align:'center',title: '抽成', width:120,templet:function(d){
                    return d.min_take+'%';
                }},
                //{if ($auth->group_id==1)}
                    // {field: 'cash_fee',align:'center',title: '手续费', width:120,templet:function(d){
                    //     return d.cash_fee+'%';
                    // }},
                    // {field: 'take_num',align:'center',title: '扣量', width:120,templet:function(d){
                    //     return d.take_num+'扣1';
                    // }},
                    // {field: 'short.name',align:'center',title: '短链接',width:130,sort:true},
                    // {field: 'pay.title',align:'center',title: '支付渠道',width:130,sort:true},
                //{/if}
                {field: 'logtime_text',align:'center',title: '登录时间', width:180},
                {field: 'status',align: 'center',title: '{:lang("status")}',width: 100,toolbar: '#status'},
                {field: 'ctime_text', align: 'center',title: '添加时间',width:150},
                {align: 'center',toolbar:'#action',width:260}
            ]]
        });
        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, statusVal=$('#onstatus').val(),searchVal=$('#search').val();
                var params='';
                if(statusVal) params='{"status":"'+statusVal+'"}';
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:params
                    }
                });
            }
        });
        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),statusVal=data.value,searchVal=$('#search').val();
            var params='';
            if(statusVal) params='{"status":"'+statusVal+'"}';
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:params
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            console.log(e);
            dateVal=$('#ondate').val(),statusVal=$('#onstatus').val(),searchVal=$('#search').val();
            var params='';
            if(statusVal) params='{"status":"'+statusVal+'"}';
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:params
                }
            });
        });
        //监听添加
        $('#func-btn .add').on('click',function () {
            layer.open({
                title:'添加代理',
                type:2,
                maxmin: true,
                content:'{:url("add")}',
                area:['95%','95%'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
        //启用禁用
        form.on('switch(status)',function(data){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var status=data.elem.value===1 ? 0 : 1;
            $.post('{:url("setUp")}',{'ids':data.elem.id,'params':'{"status":"'+status+'"}'},function(res){
                layer.close(loading);
                if(res.status ===200){
                    data.elem['value']=status;
                    return false;
                }else{
                    layer.msg('操作失败！', {time: 1000, icon: 2});
                    return false;
                }
            });
        });
        //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
                    $.post("{:url('del')}",{ids:data.id},function(res){
                        if(res.status===200){
                            layer.msg('删除成功',{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title:'编辑代理',
                    type:2,
                    maxmin: true,
                    content:'{:url("edit")}?ids='+data.id,
                    area:['95%','550px'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }else if(obj.event === 'pwd'){
                layer.open({
                    title:'修改密码',
                    type:2,
                    content:'{:url("pwd")}?ids='+data.id,
                    area:['95%','330px'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }
        });
        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });
            if(ids.length===0){
               return false;
            }
            switch(obj.event){
                case 'openAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('setUp')}",{ids:ids,params:'{"status":1}'},function (res){
                        layer.close(loading);
                        if(res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'closeAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('setUp')}",{ids:ids,params:'{"status":0}'},function (res){
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'delAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:url('del')}",{ids:ids}, function (res) {
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg('删除成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });
    })
</script>