{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
        <div class="layui-card">
            <form class="layui-form layui-form-pane" lay-filter="agent">
                <input type="hidden" name="row[ids]" lay-verify="required" value="{:input('ids/d')}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline from-inline-6">
                        <div class="layui-text">{$row['username']}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline from-inline-6">
                        <input type="password" name="row[password]" lay-verify="required" lay-reqText="请输入新密码" placeholder="{:lang('pleaseEnter')}新密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">再次输入密码</label>
                    <div class="layui-input-inline from-inline-6">
                        <input type="password" name="row[epassword]" lay-verify="required" lay-reqText="请再次输入密码" placeholder="再次输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-bg-blue layui-btn-small" lay-submit="" lay-filter="submit">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>

    layui.use(['form'], function(){
        var form = layui.form,$= layui.jquery;
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.status===200){
                    layer.msg('密码修改成功',{time: 1000, icon: 1},function(){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);//再执行关闭
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        })
    });
</script>